{% extends 'base.html' %}
{% block content %}
<article>
	<h2>Bem-vindo ao EventeX</h2>
	<h3>Algumas atrações</h3>
	<ul>
		<li>Palestras</li>
		<li>Mini-cursos</li>
		<li>Workshops</li>
		<li>Dojos</li>
	</ul>
	<h3>Depoimentos sobre edições anteriores</h3>
	<blockquote>{{ quote }}</blockquote>
	<p class="credit">{{ credit }}</p>
</article>
{% endblock content %}

{% block aside %}
<aside>
	<h3>Inscrições abertas!</h3>
	<br />
	<a href="inscricao/">Inscreva-se já</a>
</aside>
{% endblock aside %}
